{% extends data.outerLayout %}

{% set title = title or data.piece.title or data.page.title %}
{% set verticalCenterContent = verticalCenterContent or false %}
{% set fancyNavbar = fancyNavbar or false %}

<!-- --- --- --- --- --- --- --- -->

{% block title %}
  {% if title %}
    {{ title }} | {{data.global.siteTitle}}
  {% else %}
    {{data.global.siteTitle}}
  {% endif %}
{% endblock %}

<!-- --- --- --- --- --- --- --- -->

{% block startHead %}
<link href="/asset/img/favicon.ico" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="/asset/lib/animate/animate.compat.css" rel="stylesheet">
<link href="/asset/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
{% endblock %}

<!-- --- --- --- --- --- --- --- -->

{% block beforeMain %}
<style>
  {% set themeColorPrimary = data.global.themeColorPrimary or "#000000" %}
  {% set themeColorPrimaryRgb = apos.helper.hexToRgb(themeColorPrimary) %}
  :root {
    --theme-color-primary: {{ themeColorPrimary }};
    --theme-color-primary-rgb: {{ themeColorPrimaryRgb.r }}, {{ themeColorPrimaryRgb.g }}, {{ themeColorPrimaryRgb.b }};
  }
</style>

<div class="main-wrapper{% if verticalCenterContent %} vertical-center-content{% endif %}">
  <!-- Nav Bar Start -->
  <div class="navcontainer navcontainer-scrolledtotop {% if fancyNavbar and not data.edit %} navcontainer-fancy{% endif %}">
    <div class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">{{ data.global.siteTitle }}</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav ml-auto">
            <a href="#home" class="nav-item nav-link active">Home</a>
            <a href="#about" class="nav-item nav-link">About</a>
            <a href="#services" class="nav-item nav-link">Services</a>
            <a href="#blog" class="nav-item nav-link">Blog</a>
            <a href="#contact" class="nav-item nav-link">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Nav Bar End -->

  <main>
    {% endblock %}
    {% block afterMain %}
  </main>
</div>

<!-- Footer Start -->
<div class="footer">
  <div class="container-fluid">
    <div class="container">
      <div class="footer-info">
        <h2>{{ data.global.myName }}</h2>
        <h3>{{ data.global.myTitle }}</h3>
        <div class="footer-menu">
          <p>
            <a href="tel:{{ data.global.myPhoneNumber }}">
              {{ data.global.myPhoneNumber }}
            </a>
          </p>
          <p>
            <a href="mailto:{{ data.global.myEmailAddress }}">
              {{ data.global.myEmailAddress }}
            </a>
          </p>
        </div>
        <div class="footer-social">
          {% for item in data.global.mySocialMedia %}
            {% set iconName = ({"GitHub": "github", "LinkedIn": "linkedin-in", "Twitter": "twitter", "Facebook": "facebook-f", "Instagram": "fa-instagram", "YouTube": "youtube"})[item.platform] %}
            <a href="{{ item.url }}" target="_blank">
              <i class="fab fa-{{ iconName }}"></i>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container copyright">
      <p>&copy; {{ data.global.myName }}, All Right Reserved | Design created by <a href="https://htmlcodex.com">HTML Codex</a> & customized by Matthew Brunetti</p>
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Back to top button -->
<a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- Pre Loader -->
{% if not data.edit %}
<div id="loader" class="show">
  <div class="loader"></div>
</div>
{% endif %}

{% endblock %}

<!-- --- --- --- --- --- --- --- -->

{% block extraBody %}
<script>Object.assign(document.body.dataset, { spy: 'scroll', target: '.navbar', offset: '59' })</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/asset/lib/easing/easing.min.js"></script>
<script src="/asset/lib/wow/wow.min.js"></script>
<script src="/asset/lib/waypoints/waypoints.min.js"></script>
<script src="/asset/lib/typed/typed.min.js"></script>
<script src="/asset/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/asset/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/asset/lib/tilt/tilt.jquery.min.js"></script>
{% if apos.helper.isDev() %}
<script>
  window.data = {{ apos.helper.jsonStringify(data) | safe }};
  console.log('window.data =', window.data);
</script>
{% endif %}
{% endblock %}
