{% import "section-anchor.html" as anchor with context %}
{{ anchor.render() }}

{% set uuid = apos.util.generateId() %}
{% set texture = apos.attachment.first(data.widget._texture) %}
<style>
  .{{ uuid }} {
    --hero-background-texture: url({{ apos.attachment.url(texture) }})
  }
</style>

<div class="section-hero-widget {{ uuid }}"
     style="{{ 'background-attachment: fixed;' if data.widget.isFixedBackground }}">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6">
        <div class="hero-content">
          <div class="hero-text">
            {% area data.widget, 'intro' with data.contextOptions %}
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 d-none d-md-block">
        <div class="hero-image">
          <div class="wow animated bounceIn">
            {% area data.widget, 'image' with data.contextOptions %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
