<div class="section-dummy-blog-widget" id="blog">
  <div class="container">
    <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
      <p>From Blog</p>
      <h2>Latest Articles</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
          <div class="blog-img">
            <img src="/asset/img/blog-1.jpg" alt="Blog">
          </div>
          <div class="blog-text">
            <h2>Lorem ipsum dolor sit amet</h2>
            <div class="blog-meta">
              <p><i class="far fa-user"></i>Admin</p>
              <p><i class="far fa-list-alt"></i>Web Design</p>
              <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
              <p><i class="far fa-comments"></i>5</p>
            </div>
            <p>
              Lorem ipsum dolor sit amet elit. Nullam commodo mattis mi. Nullam eu erat lectus. Proin viverra risus vitae luctus. Proin ut ante, vitae sapien. Fusce sem ac erat rhoncus, ornare mattis nisl massa et eros vitae pulvin
            </p>
            <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="blog-item wow fadeInUp" data-wow-delay="0.3s">
          <div class="blog-img">
            <img src="/asset/img/blog-2.jpg" alt="Blog">
          </div>
          <div class="blog-text">
            <h2>Lorem ipsum dolor sit amet</h2>
            <div class="blog-meta">
              <p><i class="far fa-user"></i>Admin</p>
              <p><i class="far fa-list-alt"></i>Apps Design</p>
              <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
              <p><i class="far fa-comments"></i>10</p>
            </div>
            <p>
              Lorem ipsum dolor sit amet elit. Nullam commodo mattis mi. Nullam eu erat lectus. Proin viverra risus vitae luctus. Proin ut ante, vitae sapien. Fusce sem ac erat rhoncus, ornare mattis nisl massa et eros vitae pulvin
            </p>
            <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
