/*******************************/
/********* General CSS *********/
/*******************************/
body {
  color: #797979;
  background: #ffffff;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

body,
[data-apos-refreshable],
.main-wrapper,
main {
  display: flex;
  flex-direction: column;
}

[data-apos-refreshable],
.main-wrapper,
main {
  flex-grow: 1;
}

.main-wrapper {
  position: relative;
}

.main-wrapper.vertical-center-content {
  min-height: 95vh;
}

.main-wrapper.vertical-center-content main {
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #414141;
}

a {
  color: #313131;
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  color: var(--theme-color-primary);
  outline: none;
  text-decoration: none;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}

.btn {
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  background: var(--theme-color-primary);
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: inset 0 0 0 50px var(--theme-color-primary);
  transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
}

.btn:hover {
  color: var(--theme-color-primary);
  background: transparent;
  box-shadow: inset 0 0 0 0 var(--theme-color-primary);
  border-color: var(--theme-color-primary);
}

#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
  -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
  transition: opacity .3s ease-out, visibility 0s linear .3s;
  z-index: 999;
}

#loader.show {
  -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
  transition: opacity .6s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .loader {
  position: relative;
  width: 45px;
  height: 45px;
  border: 5px solid #dddddd;
  border-top: 5px solid var(--theme-color-primary);
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.back-to-top {
  position: fixed;
  display: none;
  width: 44px;
  height: 44px;
  padding: 8px 0;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  z-index: 9;
}

.back-to-top i {
  color: #ffffff;
}

.back-to-top:hover i {
  color: #414141;
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: .5s;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navcontainer-scrolledtotop .navbar {
  position: absolute;
  box-shadow: none;
}

.navbar .navbar-brand {
  margin: 0;
  font-size: 45px;
  line-height: 0px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: .5s;
  color: var(--theme-color-primary);
}

.navbar .navbar-brand img {
  max-width: 100%;
  max-height: 40px;
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}
@media (min-width: 992px) {
  .navcontainer {
    padding-top: 60px;
  }
  .navcontainer-fancy {
    padding-top: 0;
  }

  .navbar {
    width: 100%;
    padding: 10px 60px;
    background: #ffffff !important;
    z-index: 9;
  }

  .navcontainer-fancy.navcontainer-scrolledtotop .navbar {
    padding: 30px 60px;
    background: transparent !important;
  }

  .navcontainer-fancy.navcontainer-scrolledtotop .navbar-brand {
    color: #ffffff;
  }

  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link:focus {
    padding: 10px 10px 8px 10px;
    color: #414141;
    font-size: 15px;
    font-weight: 500;
  }

  .navcontainer-fancy.navcontainer-scrolledtotop .navbar-nav .nav-link,
  .navcontainer-fancy.navcontainer-scrolledtotop .navbar-nav .nav-link:focus {
    color: #ffffff;
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
    color: var(--theme-color-primary);
  }

  .navcontainer-fancy.navcontainer-scrolledtotop .navbar-nav .nav-link:hover,
  .navcontainer-fancy.navcontainer-scrolledtotop .navbar-nav .nav-link.active {
    color: #111111;
  }
}

@media (max-width: 991.98px) {
  .navcontainer {
    padding-top: 70px;
  }
  .navcontainer-fancy {
    padding-top: 0;
  }

  .navbar {
    padding: 15px;
    background: #ffffff !important;
  }

  .navbar .navbar-nav {
    margin-top: 15px;
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}

@media (max-width: 575.98px) {
  .navbar .navbar-brand {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .navbar .navbar-brand {
    font-size: 16px;
  }
}

/*******************************/
/********** Hero CSS ***********/
/*******************************/
.hero {
  position: relative;
  width: 100%;
  padding: 120px 0 0 0;
  overflow: hidden;
  background: linear-gradient(rgba(var(--theme-color-primary-rgb), .85), rgba(var(--theme-color-primary-rgb), .85)), var(--hero-background-texture);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container-fluid {
  padding: 0;
}

.hero .hero-image {
  position: relative;
  text-align: right;
  padding-bottom: 50px;
}

.hero .hero-image img {
  border-radius: 1rem;
  max-width: 66%;
  max-height: 66%;
}

.hero .hero-content {
  position: relative;
  padding-left: 75px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.hero-text {
  font-size: 35px;
  font-weight: 300;
  color: #ffffff;
}

.hero .hero-text p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.hero .hero-text h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.hero .hero-text h2 {
  margin: 0;
  height: 35px;
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
}

@media (max-width: 991.98px) {
  .hero {
  }

  .hero .hero-content {
    padding: 0 15px;
  }

  .hero .hero-text p {
    font-size: 20px;
  }

  .hero .hero-text h1 {
    font-size: 45px;
  }

  .hero .hero-text h2 {
    font-size: 25px;
    height: 25px;
  }
}

@media (max-width: 767.98px) {
  .hero {
    padding-bottom: 60px;
  }

  .hero,
  .hero .hero-text {
    width: 100%;
    text-align: center;
  }

  .hero .hero-text p {
    font-size: 18px;
  }

  .hero .hero-text h1 {
    font-size: 35px;
  }

  .hero .hero-text h2 {
    font-size: 22px;
    height: 22px;
  }
}

@media (max-width: 575.98px) {
  .hero .hero-text p {
    font-size: 16px;
  }

  .hero .hero-text h1 {
    font-size: 30px;
  }

  .hero .hero-text h2 {
    font-size: 18px;
    height: 18px;
  }
}

/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
  position: relative;
  margin-bottom: 45px;
}

.section-header p {
  display: inline-block;
  margin: 0 30px;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #ffffff;
}

.section-header p::before {
  position: absolute;
  content: "";
  height: 3px;
  top: 11px;
  right: 0;
  left: -30px;
  background: var(--theme-color-primary);
  z-index: -1;
}

.section-header p::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: 11px;
  left: 3px;
  background: var(--theme-color-primary);
  z-index: 1;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 45px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .section-header h2 {
    font-size: 30px;
  }
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
  position: relative;
  background: var(--theme-color-primary);
}

.footer .container-fluid {
  padding: 60px 0 0 0;
}

.footer .footer-info {
  position: relative;
  width: 100%;
  text-align: center;
}

.footer .footer-info h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.footer .footer-info h3 {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}

.footer .footer-menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer .footer-menu p {
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  padding: 0 15px;
  border-right: 1px solid #ffffff;
}

.footer .footer-menu p:last-child {
  border: none;
}

.footer .footer-social {
  position: relative;
  margin-top: 15px;
}

.footer .footer-social a {
  display: inline-block;
}

.footer .footer-social a i {
  margin-right: 15px;
  font-size: 20px;
  transition: .3s;
}

.footer .footer-social a:last-child i {
  margin: 0;
}

.footer a, .footer a:hover {
  color: #ffffff;
}

.footer a:hover, .footer a:hover i {
  color: #414141;
}

.footer .copyright {
  position: relative;
  text-align: center;
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: smaller;
}

.footer .copyright::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  top: 0;
  left: 25%;
  background: rgba(256, 256, 256, .2);
}

.footer .copyright p {
  margin: 0;
  color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
  text-align: right;
}

.footer .copyright p a {
  color: #ffffff;
  font-weight: 600;
}

.footer .copyright p a:hover {
  color: #414141;
}

@media (max-width: 575.98px) {
  .footer .footer-info h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .footer .footer-info h3 {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .footer .footer-menu p {
    font-size: 16px;
    line-height: 16px;
    padding: 0 5px;
  }
}
