---
import type { TypedTextBlock } from '../../lib/content';

interface Props {
  block: TypedTextBlock;
}

const { block } = Astro.props;
---

<div
  class="block-typed-text-widget"
  data-widget-text={block.items.join(',')}
  data-widget-tag={block.tag}
></div>
