---
import type { TypedTextBlock } from '../../lib/content';

interface Props {
  block: TypedTextBlock;
}

const { block } = Astro.props;
const Tag = block.tag as keyof astroHTML.JSX.IntrinsicElements;
---

<div class="block-typed-text-widget" data-typed-items={JSON.stringify(block.items)}>
  <Tag data-typed-value>{block.items[0]}</Tag>
</div>
