.bp-breadcrumbs {
  margin-bottom: .5rem;
  padding: 1rem;
  background: rgba(var(--theme-color-primary-rgb), .3);

  & > a {
    &:last-child {
      font-weight: bold;
      text-decoration: black;
    }
  }

  & > span {
    margin: 0 .25rem;
  }
}
