.section-banner-widget {
  position: relative;
  width: 100%;
  padding: 90px 0;
  background: var(--theme-color-primary);

  .container {
    max-width: 750px;
    text-align: center;
  }

  .section-header {
    margin-bottom: 20px;

    p {
      color: #414141;
      background: transparent;
    }

    p::after {
      display: none;
    }

    h2 {
      color: #ffffff;
    }
  }

  .section-banner-widget__text p {
    font-size: 18px;
    color: #ffffff;
  }
}
